<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Student_Course</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <th>学号</th>
    <th>课程号</th>
    <th>成绩</th>
    </thead>
    <tbody>
    <tr th:each="sc :${scs}">
        <td th:text="${sc.sno}"></td>
        <td th:text="${sc.cno}"></td>
        <td th:text="${sc.score}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>